header {
  border-bottom: 1px solid var(--gray-300);
  background: var(--gray-600);
}

.header-container {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.home {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 18px;
}

nav {
  margin-left: 200px;
  display: flex;
  padding: .75rem .25rem;
  border-radius: 8px;
  background-color: var(--gray-550);
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;

}

ul li a {
  text-decoration: none;
  color: var(--gray-200);
  padding: .5rem;
}

ul li a:hover,
ul li a:focus {
  border-radius: 4px;
  background-color: var(--gray-500);
  color: var(--white);
}

