<header>
  <div class="header-container">
    <div class="home">
      <i class="ph-house-fill" style="color: white"></i>
      <h1>Home</h1>
    </div>
    <nav>
      <ul class="links">
        <li><div class="effect"><a routerLink="/">Home</a></div></li>
        <li id="add"><div class="effect"><a routerLink="/post/new">New Post</a></div></li>
        <li><div class="effect"><a routerLink="/about">About</a></div></li>
      </ul>
    </nav>
    <app-profile-details></app-profile-details>
  </div>
</header>
